@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

@font-face {
  font-family: "CodeSaver";
  src: url("/src/assets/fonts/CodeSaver-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.code-saver {
  font-family: "CodeSaver", sans-serif;
  font-size: 12px;
}

.code-saverr {
  font-family: "CodeSaver", sans-serif;
  font-size: 12px;
}

.adobe-haas {
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}